# Server
NODE_ENV=development
PORT=5000

# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/ngo_management?appName=Cluster0

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

# Default Admin (for seeder)
ADMIN_EMAIL=admin@ngo.org
ADMIN_PASSWORD=Admin@1234

# CORS
CLIENT_URL=http://localhost:5173
